/* TopherLee
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage");

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.light {
    --pri-bg: #ffffff;
    --sec-bg: #bbbbbb;
    --pri-txt: #333333;
    --sec-txt: #000000;
    --accent: #990000;
}
.dark {
    --pri-bg: #333333;
    --sec-bg: #000000;
    --pri-txt: #ffffff;
    --sec-txt: #bbbbbb;
    --accent: #990000;
}
body {
    background-image: url(./images/dots.png);
    background-size: cover;
}
// Header
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 2rem;
    background-color: var(--sec-bg);
    border-bottom: 2px solid var(--accent);
    margin-bottom: 0.5rem;
    #themeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 1.4rem;
        width: 1.4rem;
        margin: 0.3rem;
        margin-left: 0.2rem;
        border: 1px solid var(--sec-txt);
        border-radius: 4px;
        background-color: var(--sec-bg);
        color: var(--sec-txt);
        .bi {
            height: 100%;
            width: 100%;
            font-size: 1.2rem;
            margin: 0.4rem;
        }
    }
    & :hover {
        background-color: var(--pri-bg);
        color: var(--pri-txt);
    }
    #title {
        width: auto;
        height: auto;
        margin-left: 0.5rem;
        margin-right: auto;
        text-align: center;
        font-size: 2rem;
        font-family: "Road Rage";
        color: var(--pri-txt);
    }
    #spacer {
        width: auto;
    }
    #author {
        height: auto;
        margin-left: auto;
        margin-right: 0.5rem;
        text-align: right;
        font-size: 1.5rem;
        text-decoration: none;
        font-family: "Roboto";
        color: var(--sec-txt);
    }
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
    align-items: center;
    min-height: 2rem;
    width: 100%;
    margin-top: auto;
    background-color: var(--sec-bg);
    color: var(--sec-txt);
    border-top: 2px solid var(--accent);
    bottom: 0;
    #copyright {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
        text-align: center;
        span {
            font-weight: bold;
            color: var(--accent);
        }
    }
}
.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.spacer {
    display: flex;
    flex-grow: 1;
    width: auto;
    height: auto;
}
#messageBox {
    width: auto;
    height: 2rem;
    background-color: var(--pri-bg);
    color: var(--pri-txt);
}
.hidden {
    display: none;
}
/* large screen width */
@media screen and (min-width: 801px) {
    body {
        justify-content: space-around;
        font-family: "Roboto";
        background-image: url(./images/dots.png);
        background-size: cover;
        background-color: var(--pri-bg);
        color: var(--pri-txt);
        main {
            position: absolute;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            padding-top: 2rem;
            padding-bottom: 2rem;
            form {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                width: auto;
                height: auto;
                padding: 0.5rem;
                margin: 0.5rem;
                background-color: var(--pri-bg);
                border: 2px solid var(--pri-txt);
                border-radius: 6px;
                box-shadow: 0 0 5px 5px var(--accent);
                label {
                    width: auto;
                    height: 1.6rem;
                    font-size: 1rem;
                    padding: 0.3rem;
                }
                input, select, a {
                    box-sizing: border-box;
                    width: auto;
                    height: 2rem;
                    border-radius: 6px;
                    background-color: var(--sec-bg);
                    color: var(--sec-txt);
                    border: 1px solid var(--sec-txt);
                    text-align: center;
                    &:hover {
                        background-color: var(--pri-bg);
                        color: var(--pri-txt);
                        border: 1px solid var(--pri-txt);
                        font-weight: bold;
                    }
                }
                .dual {
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    height: 2rem;
                    input, select {
                        display: flex;
                        flex-grow: 1;
                        width: auto;
                        height: auto;
                    }
                }
                #create {
                    margin-top: 1rem;
                    cursor: pointer;
                }
                #downloadButton {
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    width: auto;
                    height: 2rem;
                    margin-top: 1rem;
                    cursor: pointer;
                    .icon {
                        width: 1.6rem;
                        height: 1.6rem;
                        margin: 0.3rem;
                    }
                    .text {
                        width: auto;
                        height: 1.6rem;
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                        text-align: center;
                    }
                }
            }
            #canvasContainer {
                display: flex;
                flex-grow: 3;
                width: auto;
                height: auto;
                margin: 0.5rem;
                background-color: var(--pri-bg);
                border: 2px solid var(--pri-txt);
                border-radius: 6px;
                box-shadow: 0 0 5px 5px var(--accent);
                canvas {
                    width: auto;
                    height: auto;
                    margin: 0.5rem;
                }
            }
        }
    }
}
/* small screen width */
@media screen and (max-width: 800px) {
    body {
        justify-content: space-around;
        font-family: "Roboto";
        background-image: url(./images/dots.png);
        background-size: cover;
        background-color: var(--pri-bg);
        color: var(--pri-txt);
        main {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding-top: 2rem;
            padding-bottom: 2rem;
            form {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                width: auto;
                height: auto;
                margin: 0.5rem;
                background-color: var(--pri-bg);
                border: 2px solid var(--pri-txt);
                border-radius: 6px;
                box-shadow: 0 0 5px 5px var(--accent);
                label {
                    width: auto;
                    height: 1.6rem;
                    font-size: 1rem;
                    padding: 0.3rem;
                }
                input, select, a {
                    box-sizing: border-box;
                    width: auto;
                    height: 2rem;
                    border-radius: 6px;
                    background-color: var(--sec-bg);
                    color: var(--sec-txt);
                    border: 1px solid var(--sec-txt);
                    text-align: center;
                    &:hover {
                        background-color: var(--pri-bg);
                        color: var(--pri-txt);
                        border: 1px solid var(--pri-txt);
                        font-weight: bold;
                    }
                }
                .dual {
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    height: 4rem;
                    input, select {
                        display: flex;
                        flex-grow: 1;
                        width: auto;
                        height: 2rem;
                    }
                }
                #create {
                    margin-top: 1rem;
                }
                #downloadButton {
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    width: auto;
                    height: 2rem;
                    margin-top: 1rem;
                    .icon {
                        width: 1.6rem;
                        height: 1.6rem;
                        margin: 0.3rem;
                    }
                    .text {
                        width: auto;
                        height: 1.6rem;
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                        text-align: center;
                    }
                }
            }
            #canvasContainer {
                display: flex;
                flex-grow: 3;
                min-width: 75%;
                width: auto;
                height: auto;
                margin: 0.5rem;
                background-color: var(--pri-bg);
                border: 2px solid var(--pri-txt);
                border-radius: 6px;
                box-shadow: 0 0 5px 5px var(--accent);
                canvas {
                    width: auto;
                    height: auto;
                    margin: 0.5rem;
                }
            }
        }
    }
}
